<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="true"
         bootstrap="bootstrap.php">
    <php>
        <!-- set some globals for connection handling.
           the following is an example of the jackalope-jackrabbit implementation -->
        <var name="jackrabbit.uri" value="http://localhost:8080/server" />
        <var name="phpcr.user" value="admin" />
        <var name="phpcr.pass" value="admin" />
        <var name="phpcr.workspace" value="tests" />
    </php>

    <testsuites>
        <testsuite name="all">
            <directory>[name-of-directory-with-test-submodule]/tests/</directory>
            <directory>[your-unit-tests-directory]</directory>
        </testsuite>
    </testsuites>

    <!-- configuration for code coverage report -->
    <filter>
        <whitelist>
            <directory>../</directory>

            <exclude>
                <!-- ignore the tests folder -->
                <directory>.</directory>

                <!-- ignore whats not implemented yet -->
                <directory>../lib/phpcr/src/PHPCR/Lock</directory>
                <directory>../lib/phpcr/src/PHPCR/Observation</directory>
                <directory>../lib/phpcr/src/PHPCR/Retention</directory>
                <directory>../lib/phpcr/src/PHPCR/Security</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
